.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background: #000000;
    opacity: 0.3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}